/**
 * ===========================================================================
 * @Author: Ramiro Luiz Nunes
 * @Date:   2024-07-01 20:27:17
 * @Info:   Next style
 * ===========================================================================
 */

.next {
    .row {
      height: 22px;
      width: 88px;
      float: right;
    }
  }
