[submodule "modules/react-frontend-core"]
	path = modules/react-frontend-core
	url = git@github.com:ramironunes/react-frontend-core.git
[submodule "modules/scripts-core"]
	path = modules/scripts-core
	url = git@github.com:ramironunes/scripts-core.git
[submodule "modules/angular-core"]
	path = modules/angular-core
	url = git@github.com:ramironunes/angular-core.git
[submodule "modules/fastapi-core"]
	path = modules/fastapi-core
	url = git@github.com:ramironunes/fastapi-core.git
[submodule "scripts"]
	path = scripts
	url = git@github.com:ramironunes/scripts-core.git
