/**
 * ===========================================================================
 * @Author: Ramiro Luiz Nunes
 * @Date:   2024-07-01 20:27:17
 * @Info:   Keyboard style
 * ===========================================================================
 */

.keyboard {
  width: 580px;
  height: 330px;
  margin: 15px auto 0;
  position: relative;
}
