<!--
  ============================================================================
  @Author: Ramiro Luiz Nunes
  @Date:   2024-07-01 20:27:17
  @Info:   Screen decoration template
  ============================================================================
-->

<div class="topBorder">
    <span class="l mr-10 w-40"></span>
    <span class="l mr-10"></span>
    <span class="l mr-10"></span>
    <span class="l mr-10"></span>
    <span class="l mr-10"></span>
    <span class="r ml-10 w-40"></span>
    <span class="r ml-10"></span>
    <span class="r ml-10"></span>
    <span class="r ml-10"></span>
    <span class="r ml-10"></span>
</div>
<h1><strong>{{ title }}</strong></h1>
<div class="view">
    <g-tile [tile]="filled"></g-tile>
    <div class="clear"></div>
    <g-tile [tile]="filled"></g-tile>
    <g-tile [tile]="filled"></g-tile>
    <div class="clear"></div>
    <em></em>
    <g-tile [tile]="filled"></g-tile>
    <p></p>
    <em></em>
    <g-tile [tile]="filled"></g-tile>
    <div class="clear"></div>
    <g-tile [tile]="filled"></g-tile>
    <g-tile [tile]="filled"></g-tile>
    <div class="clear"></div>
    <em></em>
    <g-tile [tile]="filled"></g-tile>
    <p></p>
    <g-tile [tile]="filled"></g-tile>
    <g-tile [tile]="filled"></g-tile>
    <g-tile [tile]="filled"></g-tile>
    <g-tile [tile]="filled"></g-tile>
    <p></p>
    <g-tile [tile]="filled"></g-tile>
    <div class="clear"></div>
    <g-tile [tile]="filled"></g-tile>
    <g-tile [tile]="filled"></g-tile>
    <div class="clear"></div>
    <g-tile [tile]="filled"></g-tile>
    <p></p>
    <g-tile [tile]="filled"></g-tile>
    <g-tile [tile]="filled"></g-tile>
    <div class="clear"></div>
    <g-tile [tile]="filled"></g-tile>
    <div class="clear"></div>
    <g-tile [tile]="filled"></g-tile>
    <p></p>
    <em></em>
    <g-tile [tile]="filled"></g-tile>
    <div class="clear"></div>
    <em></em>
    <g-tile [tile]="filled"></g-tile>
    <div class="clear"></div>
    <em></em>
    <g-tile [tile]="filled"></g-tile>
    <div class="clear"></div>
    <em></em>
    <g-tile [tile]="filled"></g-tile>
</div>
<div class="view l">
    <em></em>
    <g-tile [tile]="filled"></g-tile>
    <div class="clear"></div>
    <g-tile [tile]="filled"></g-tile>
    <g-tile [tile]="filled"></g-tile>
    <div class="clear"></div>
    <g-tile [tile]="filled"></g-tile>
    <p></p>
    <g-tile [tile]="filled"></g-tile>
    <div class="clear"></div>
    <g-tile [tile]="filled"></g-tile>
    <g-tile [tile]="filled"></g-tile>
    <div class="clear"></div>
    <g-tile [tile]="filled"></g-tile>
    <p></p>
    <g-tile [tile]="filled"></g-tile>
    <g-tile [tile]="filled"></g-tile>
    <g-tile [tile]="filled"></g-tile>
    <g-tile [tile]="filled"></g-tile>
    <p></p>
    <em></em>
    <g-tile [tile]="filled"></g-tile>
    <div class="clear"></div>
    <g-tile [tile]="filled"></g-tile>
    <g-tile [tile]="filled"></g-tile>
    <div class="clear"></div>
    <em></em>
    <g-tile [tile]="filled"></g-tile>
    <p></p>
    <g-tile [tile]="filled"></g-tile>
    <g-tile [tile]="filled"></g-tile>
    <div class="clear"></div>
    <em></em>
    <g-tile [tile]="filled"></g-tile>
    <div class="clear"></div>
    <em></em>
    <g-tile [tile]="filled"></g-tile>
    <p></p>
    <g-tile [tile]="filled"></g-tile>
    <div class="clear"></div>
    <g-tile [tile]="filled"></g-tile>
    <div class="clear"></div>
    <g-tile [tile]="filled"></g-tile>
    <div class="clear"></div>
    <g-tile [tile]="filled"></g-tile>
</div>
